#about .section-content .image .b-img {
    transform: scale(0.5);
    transform-origin: left ;
    left: 150px;
}

#about .section-content::before {
    transform: scale(0.8);
	transform-origin: left center;
}

#about .section-content .image .s-img {
	transform: scale(0.8);
	transform-origin: left center;
}

#journal {
	padding-bottom: 0;
}

#journal .journal-content {
	transform: scale(0.82456);
	transform-origin: left top;
	box-shadow: none;
}

#offer {
	padding-top: 130px;
	padding-bottom: 190px;
}

#gallery {
	padding-bottom: 0;
}

#gallery .imglist {
		transform: scale(0.82456);
	transform-origin: left top;
}