#header .navbar .navbar-right {
    display: none;
}

#header .navbar-nav {
    float: right !important;
}

#header .section-header .navbar-nav a {
    margin-right: 0;
    margin-left: 20px;
}

#header .section-content {
    padding: 100px 0;
}

#about {
    padding-bottom: 70px;
}

#about .section-content .content {
    margin-top: 100px;
}

#about .section-content::before {
    display: none;
}

#about .section-content .image {
    position: relative;
    height: auto;
}

#about .section-content .image .b-img {
    transform: none;
    position: static;
    overflow: hidden;
    height: 400px;
    background-position: bottom;
    margin-top: 20px;
    max-width: 100%;
}

#about .section-content .image .s-img {
    transform: scale(0.5);
    transform-origin: top right;
    position: absolute;
    right: 0;
    top: -20px;
    display: none;
    width: 720px;
}


#journal .journal-content {
    transform: none;
    transform-origin: left top;
    box-shadow: none;
    height: 1080px;
    margin-bottom: 80px;
}

#journal .journal-content>div {
    height: 360px;
    width: 360px;
}

#journal .journal-content>div:nth-child(1) {}

#journal .journal-content>div:nth-child(1)::after {}

#journal .journal-content>div:nth-child(2) {
	left: 360px;
	top: 0;
}

#journal .journal-content>div:nth-child(2)::after {
	left: -11px;
	top: 50px;
    border-top: 11px solid transparent;
    border-right: 11px solid #fff;
    border-bottom: 11px solid transparent;
}

#journal .journal-content>div:nth-child(3) {
	top: 360px;
	left: 360px;
}

#journal .journal-content>div:nth-child(3)::after {

}

#journal .journal-content>div:nth-child(4) {
	top: 360px;
	left: 0;
}

#journal .journal-content>div:nth-child(4)::after {}

#journal .journal-content>div:nth-child(5) {
	top: 720px;
	left: 0;
}

#journal .journal-content>div:nth-child(5)::after {}

#journal .journal-content>div:nth-child(6) {
	top: 720px;
	left: 360px;
}

#journal .journal-content>div:nth-child(6)::after {
	left: -11px;
	top: 50px;
    border-top: 11px solid transparent;
    border-right: 11px solid #fff;
    border-bottom: 11px solid transparent;
    border-left: none;
}

#gallery .imglist {
    transform: none;
    position: unset;
    height: auto;
}

#gallery .imglist a div {
    width: calc(50% - 15px) !important;
    height: 343px !important;
    background-size: cover;
    position: unset;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

#gallery .imglist a:nth-child(2n+2) div {
    margin-right: 0;
    margin-bottom: 15px;
}

#logos {
    margin-top: 80px;
}