:root {
    --button-background-color: #36aeea;
    --title-text-color: #36aeea;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

li {
    list-style: none;
}

.btn-default-theme {
    color: #fff;
    background-color: var(--button-background-color);
    font-family: 'Raleway', sans-serif;
    padding: 25px 75px;
    word-spacing: 3px;
    letter-spacing: 2px;
    border-radius: 3px;
    display: inline-block;
}

.btn-default-theme:hover {
    text-decoration: none;
    background-color: rgba(54, 174, 234, 0.8);
    color: #fff;
}

.section-title-small {
    font-size: 20px;
    color: #2c2e37;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    position: relative;
}

.section-title-small::before {
    position: absolute;
    content: "";
    left: 0;
    top: -45px;
    height: 3px;
    width: 80px;
    background-color: #d2d0d0;
}

.section-title-big {
    font-size: 30px;
    color: #2c2e37;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.section-title-big::before {
    position: absolute;
    content: "";
    left: 50%;
    top: -45px;
    height: 3px;
    width: 80px;
    background-color: #d2d0d0;
    transform: translateX(-50%);
}

.description {
    color: #949494;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;

}

@font-face {
    src: url(../font/Bringin/Bringin.ttf);
    font-family: Bringin;
}

/*======== header =========*/

#header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#header .navbar-default {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    padding: 15px 0;
}

#header .section-header .navbar-nav a {
    color: #95a5ad;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin-right: 25px;
    padding: 15px 0 3px;

}

#header .section-header .navbar-right a {
    margin-right: 0;
}


#header .navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    border-bottom: 2px solid var(--button-background-color);
}

#header .navbar .navbar-right .call-btn {
    padding: 16px 43px;
    color: var(--title-text-color);
    border: 3px solid var(--button-background-color);
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 3px;
}

#header .logo {
    color: #95a5ad;
    font-family: 'Bringin';
    font-size: 29px;
    margin-right: 45px;
}

#header .logo .s-logo {
    color: var(--title-text-color);
}

#header .section-content {
    padding: 190px 0;
}

#header .section-content .content {
    padding-left: 50px;
}

#header .section-content .order-btn {
    font-size: 14px;
    line-height: 14px;
    margin-top: 15px;
}

#header .section-content .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 9px;
}

#header .section-content .s-title {
    font-family: 'Bringin';
    color: var(--title-text-color);
    font-size: 66px;
    letter-spacing: 5px;
    margin-top: -25px;
}

#header .section-content .text-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #95a5ad;
    line-height: 29px;
}

/*======== about =========*/

#about {
    background: #f6f4f4;
}

#about .section-content {
    position: relative;
}

#about .section-content::before {
    content: "";
    position: absolute;
    left: 95px;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/about/VectorSmartObject.png);
    background-repeat: no-repeat;
}

#about .section-content .content {
    margin-top: 250px;
}

#about .section-content .description {

    margin-top: 20px;
    padding-right: 80px;

}

#about .section-content .image {
    position: relative;
    height: 665px;
}

#about .section-content .image .s-img {
    background-image: url(../image/about/16047839768_3d53d0b471_z.jpg);
    background-size: cover;
    position: absolute;
    bottom: 40px;
    width: 350px;
    height: 350px;
    z-index: 1;
}

#about .section-content .image .b-img {
    background-image: url(../image/about/Curves3.jpg);
    background-size: cover;
    position: absolute;
    left: 90px;
    top: -35px;
    width: 805px;
    height: 570px;
}

#about .section-content .btn-default-theme {
    padding: 15px 25px;
    margin-top: 20px;
}

/*======== journal =========*/

#journal {
    padding: 110px 0 95px;
}

#journal .section-title-big {
    margin-bottom: 70px;
}

#journal .journal-content {
    position: relative;
    height: 760px;
    width: 100%;
    box-shadow: 0 0 10px 1px #cecece;
}

#journal .journal-content .journal-img {
    background-size: cover;
}

#journal .journal-content>div {
    height: 380px;
    width: 380px;
    background-color: #fff;
    position: relative;
}

#journal .journal-content>div:nth-child(1) {}

#journal .journal-content>div:nth-child(1)::after {
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    background-image: url(../image/journal/heart.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
}

#journal .journal-content>div:nth-child(2) {
    position: absolute;
    left: 380px;
    top: 0;
}

#journal .journal-content>div:nth-child(2)::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-right: 11px solid #fff;
    border-bottom: 11px solid transparent;
    position: absolute;
    left: -11px;
    top: 50px;
}

#journal .journal-content>div:nth-child(3) {
    position: absolute;
    top: 380px;
    left: 380px;
}

#journal .journal-content>div:nth-child(3)::after {
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    background-image: url(../image/journal/leaf.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
}

#journal .journal-content>div:nth-child(4) {
    position: absolute;
}

#journal .journal-content>div:nth-child(4)::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-left: 11px solid #fff;
    border-bottom: 11px solid transparent;
    position: absolute;
    right: -11px;
    top: 50px;
}

#journal .journal-content>div:nth-child(5) {
    position: absolute;
    top: 0;
    left: 760px;
}

#journal .journal-content>div:nth-child(5)::after {
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    background-image: url(../image/journal/water.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
}

#journal .journal-content>div:nth-child(6) {
    position: absolute;
    left: 760px;
    top: 380px;
}

#journal .journal-content>div:nth-child(6)::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;
    position: absolute;
    top: -11px;
    left: 50px;
}

#journal .journal-content .journal-text {
    padding: 47px 30px;
    position: absolute;
}

#journal .journal-content .journal-text .journal-text-note {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: var(--title-text-color);
    letter-spacing: 2px;
}

#journal .journal-content .journal-text .journal-text-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16.15px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #212121;
    text-transform: uppercase;
    padding: 45px 0 30px;
}

#journal .journal-content .journal-text .journal-text-desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #777777;
    margin-bottom: 20px;
}

#journal .journal-content .journal-text .journal-text-number {
    font-size: 14px;
    font-style: italic;
}

/*=========== offer ==========*/

#offer {
    background-color: #f6f4f4;
    padding: 195px 0 245px;
    position: relative;
}

#offer:before {
    background-image: url(../image/offer/offer-background.png);
    background-size: cover;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;

}

#offer .offer-form {
    background-color: #fff;
    padding: 3px;
    border-radius: 3px;
    position: relative;
    height: 72px;
    padding-right: 221.625px;
    display: table;
    width: 100%;
    margin-bottom: 15px;

}

#offer .form-item {
    display: inline;
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
}

#offer .form-item:nth-child(1) input {
    border-right: 1px solid #848484;

}

#offer .form-item label {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #848484;
}

#offer .form-item input {
    width: 100%;
    border: none;
    outline: none;
    height: 70%;
}

#offer .description {
    padding: 20px 0;
}

#offer .btn-default-theme {
    padding: 23px 57px;
    border: none;
    position: absolute;
    right: 3px;
}

#offer .disable-link {
    color: #36aeea;
    user-select: none;
}

#offer .disable-link span {
    margin-right: 10px;
}

.test {
    background-color: grey;
}


/*========= gallery ========*/

/*#gallery .gallery-item a:first-of-type img {
    margin-bottom: 15px;
}

#gallery .gallery-item a:last-of-type img {
    margin-top: 15px;
}*/
#gallery {
    padding-top: 100px;
    padding-bottom: 60px;
}

#gallery .imglist {
    margin-top: 70px;
    position: relative;
    width: 100%;
    height: 655px;
}

#gallery .imglist a div {
    position: absolute;
}

#gallery .imglist a:nth-child(1) div {
    width: 270px;
    height: 343px;
    background-size: cover;
}

#gallery .imglist a:nth-child(2) div {
    width: 270px;
    height: 281px;
    background-size: cover;
    top: 373px;
}

#gallery .imglist a:nth-child(3) div {
    width: 350px;
    height: 243px;
    background-size: cover;
    left: 300px;
}

#gallery .imglist a:nth-child(4) div {
    width: 350px;
    height: 381px;
    background-size: cover;
    left: 300px;
    top: 273px;
}

#gallery .imglist a:nth-child(5) div {
    width: 460px;
    height: 343px;
    background-size: cover;
    left: 680px;
}

#gallery .imglist a:nth-child(6) div {
    width: 460px;
    height: 281px;
    background-size: cover;
    left: 680px;
    top: 373px;
}


/*========logos========*/

#logos {
    padding: 75px 0;
    background-color: #f8f9fa;
}

/*========== footer ==========*/

#footer {
    background-image: url(../image/footer/footer-background.png);
    background-size: cover;
    padding: 110px 0 0;
}

#footer #myCarousel {
    margin-top: 90px;
}

#footer #myCarousel .carousel-indicators {
    position: relative;
    bottom: 0;
    margin-top: 10px;
}

#footer .person .p-img {
    display: table-cell;
}

#footer .person .p-info {
    display: table-cell;
    padding-left: 20px;
    color: var(--title-text-color);
    font-family: 'Open Sans', sans-serif;
}

#footer .person .p-info .name {
    font-weight: 700;
}

#footer .footer-form {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 135px;
    margin-bottom: 160px;
}

#footer .footer-form .form-item {
    margin-top: 20px;
}

#footer .form-horizontal {
    padding: 30px 30px 50px;
}

.glass {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px grey;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .glass {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.3);
    }
}

#footer .form-horizontal .section-title-big {
    font-size: 36px;
    color: var(--title-text-color);
}

#footer .form-horizontal .section-title-big::before {
    display: none;
}

#footer .btn-default-theme {
    padding: 25px auto;
    width: 100%;
    font-size: 16px;
    border: none;
}

#footer .section-bottom {
    background-color: rgba(63, 102, 111, 0.8);
}

#footer .section-bottom .text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #719eae;
    line-height: 103px;
    margin-bottom: 0;
}

#footer .section-bottom .icon i {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #29c5f6;
}

#footer .section-bottom .icon ul {
    margin-bottom: 0;
}

#footer .section-bottom .icon li {
    line-height: 103px;
    margin-right: 6px;
    background-color: #29c5f6;
}

#footer .section-bottom .icon li:nth-child(2) i {
    background-color: #6788ce;
}

#footer .section-bottom .icon li:nth-child(3) i {
    background-color: #54769a;
}

#footer .section-bottom .icon li:last-of-type {
    margin-right: 0;

}

#footer .section-bottom .number {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 900;
    color: #7ec6d6;
    padding-top: 35px;
    padding-bottom: 30px;
}

#footer .section-bottom .social {
    display: inline;
}