
#header .section-content .title {
	font-size: 40px;
}
#header .section-content .s-title {
	font-size: 50px;
	margin-top: 20px;
}
#about .section-content .image .b-img {
	margin-top: 50px;
}

#journal .journal-content {
    transform: none;
    transform-origin: left top;
    height: auto;
    width: auto;

}

#journal .journal-content>div {
/*	transform: scale(0.8);
	transform-origin: left top;*/
	width: auto;
}

#journal .journal-content>div:nth-child(1) {
    position: relative;

}

#journal .journal-content>div:nth-child(1)::after {}

#journal .journal-content>div:nth-child(2) {
    position: relative;
    left: unset;
    top: unset;
}

#journal .journal-content>div:nth-child(2)::after {
    left: 50%;
    top: -11px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;
    border-top: none;
    transform: translate(-50%, 0);
}

#journal .journal-content>div:nth-child(3) {
    position: relative;
    left: unset;
    top: unset;

}

#journal .journal-content>div:nth-child(3)::after {}

#journal .journal-content>div:nth-child(4) {
    position: relative;
    left: unset;
    top: unset;
}

#journal .journal-content>div:nth-child(4)::after {
	left: 50%;
    top: -11px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;
    border-top: none;
    transform: translate(-50%, 0);
}

#journal .journal-content>div:nth-child(5) {
    position: relative;
    left: unset;
    top: unset;

}

#journal .journal-content>div:nth-child(5)::after {}

#journal .journal-content>div:nth-child(6) {
    position: relative;
    left: unset;
    top: unset;

}

#journal .journal-content>div:nth-child(6)::after {
    left: 50%;
    top: -11px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;
    border-top: none;
    transform: translate(-50%, 0);
}

#offer {
    padding-top: 100px;
    padding-bottom: 120px;
}

#offer .offer-form {
    padding-right: 3px;
    display: block;
    height: unset;
}

#offer .form-item {
    display: block;
    padding: 20px;
}

#offer .form-item input {}

#offer .form-item:nth-child(1) input {
    border-right: none;
}

#offer .btn-default-theme {
    margin-top: 20px;
    position: static;
    width: 100%;
}

#gallery .imglist a div {
    width: 100% !important;
    height: 343px !important;
    background-size: cover;
    position: unset;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

#logos img {
    margin-bottom: 30px;
}

#footer .item .person {
    margin-bottom: 30px;
}

#footer .footer-form {
    margin-top: 60px;
    margin-bottom: 85px;
}

#footer .section-bottom .text p {

    line-height: 40px;

}

#footer .section-bottom .icon li {
    line-height: 24px;
}

#footer .section-bottom .number {
    padding-top: 5px;
    padding-bottom: 10px;
}